#page {
  background-color:#d1ceaf;
  border:1px solid black;
  text-align:left;
  width:60%;
  padding:30px;
    padding-left:75px;
  height:600px;
}

h1 {
  font-size:30px;
  font-family:Arial, sans serif;
}
/***********image du pendu*******************************/
.scenespendu{

 border:1px solid #000;
    height: 200px;
    width: 75px;
    overflow:hidden;
}


#penduimg {
    margin-left:0px;


}

h2 {
  font-size:16px;
  font-family:Arial, sans-serif;
}

#mot {
  margin:30px 0 0 0;
  clear:both;
  top:100px;
}

#mot td {
  padding:10px;
  background-color:#1ee193;
  border:2px inset black;
  width:30px;
  height:30px;
  font-weight:bold;
  font-size:1.5em;
  text-align:center;
}

#mot p{
  visibility:hidden;
}

#clavier{
  border:4px outset black;
  padding:10px;
  background-color:#444335;
}

#clavier td {
  background-color:white;
  border:1px solid black;
  width:25px;
  height:25px;
  text-align:center;
  font-weight:bold;
  cursor:pointer;
}

/*a.lien{*/
  /*color:blue;*/
  /*text-decoration:none;*/
  /*font-size:60px;*/


.lien{
  padding-bottom: -40px;
  font-size: 30px;
}

a.lien:hover{
  color:red;
  font-weight:bold;
  text-decoration:underline;
}